/* banner stayles */
.banner-greeting{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-taitel{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;  
}
.header{
    display: flex;
    text-align: center;
}



/* header related styles */
.header{
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
}
    
.header{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
  
}
.header{
    text-align: center;
}

/*  hapy-new-year-discount*/

.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.hapy-new-year-discount{
    background-image: url('../resources/New\ Year\ Photo.png');
    
    
}
.hapy-new-year-discount{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    text-align: center;
    
}